.header{
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; /* hoặc màu bạn muốn */
    z-index: 1000; /* đảm bảo nằm trên các phần khác */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* tạo bóng nếu muốn */
  }
}
.main{
  padding-top: 70px;
  display: flex;
  justify-content: center; /* căn giữa theo chiều ngang */
  align-items: center;     /* căn giữa theo chiều dọc */
  height: 100%; 
}